<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <nav>
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
        </nav>
        <main>
            <h1>Select your role</h1>

            <div class="card">
              <div class="container">
                <h4><b>Annotator</b></h4>
                <p>You have been tasked with makring stuff on the images...</p>
                <a href="/annotator-login/">Click here</a>
              </div>
            </div>

            <div class="card">
              <div class="container">
                <h4><b>Manager</b></h4>
                <p>You have images that you want to annotate...</p>
                <a href="/manager-view/">Click here</a>
              </div>
            </div>

        </main>
    </body>
</html>
