<html>
    <head>
        <title>Manager</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <nav>
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
        </nav>
        <main>
            <!-- 1. Buttons -->
            <section id="menu" class="align-right">
                <a class="btn btn-main" href="/task-add/"><i class="fas fa-plus"></i> Create</a>
            </section>
            <h1>My current tasks</h1>
            <hr>
            <!-- tasks get populated here -->
            <div id="tasks"></div>
        </main>

        <!--  JavaScript files right before the closing body tag -->
        <script type="text/javascript" src="/static/js/get-tasks.js"></script>
    </body>
</html>
