<html>
    <head>
        <title>Task</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <nav>
            <a class="nav-link" href="/manager-view/"><i class="fas fa-home"></i> Home</a>
        </nav>
        <main>
            <h1 id="id">Task ID</h1>
            <form id="task-form">
                <div class="input-section">
                    <label for="title">Name</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="input-section">
                    <label for="content">Description</label>
                    <textarea name="description" id="description"></textarea>
                </div>
                <div class="input-section">
                    <label for="content">Instructions for Annotators</label>
                    <textarea name="description" id="instructions"></textarea>
                </div>
                <button class="btn btn-main" id="save" type="submit">Save</button>
                <a class="btn" id="delete" href="/manager-view/">Delete</a>
                <a class="btn" href="/manager-view/">Cancel</a>
            </form>
        </main>
        <script type="text/javascript" src="/static/js/view-task.js"></script>
    </body>
</html>
